/* Navbar */
.navbar-custom {
    background-color: #BDE3FF;
}

.navbar-custom .navbar-nav {
    margin-left: auto;
}

.navbar-custom .nav-link {
    font-size: 18px;
    margin-right: 20px;
}

.navbar-custom .nav-link:hover {
    color: #ff0000;
    transition: color 0.5s ease;
}

.navbar-custom .dropdown-menu {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 200px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #BDE3FF;
}

.navbar-custom .dropdown-item {
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
}

.navbar-custom .dropdown-item:hover {
    background-color: #f0f0f0;
    color: #333;
}

/* Body Section */
.body-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ffffff;
}

.text-section {
    flex: 1;
    padding: 50px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.text-section p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.text-section button {
    background-color: #BDE3FF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.text-section button:hover {
    background-color: #79c4f8;
}

.image-section {
    flex: 1;
    padding-left: 50px;
}

.image-section img {
    width: 100%;
    height: auto;
}

/* Second and Third Section */
.second-section, .third-section {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.element {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.element img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Fix the image size */
    margin-bottom: 10px;
}

.element h2 {
    color: #333;
    font-size: 20px;
}

.element p {
    color: #666;
    font-size: 16px;
}

.element button {
    background-color:  #BDE3FF;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
.element button:hover {
    background-color: #79c4f8;
}
.second-section .element img, .third-section .element img {
    width: 70%; /* Ajustez la taille de l'image */
    margin-left: 19%; /* Ajustez la position par rapport à la gauche */
}
.second-section .element h2 {
    font-size: 20px; /* Ajustez la taille du texte */
    text-align: left; /* Ajustez la position du texte */
    font-weight: bold; /* Rend le texte en gras */
    color: #9ed4fb; /* Change la couleur du texte */
    margin-left: 10%; /* Ajustez la position par rapport à la gauche */
}
.second-section .element p {
    font-size: 16px; /* Ajustez la taille du texte */
    text-align: left; /* Ajustez la position du texte */
    color: #302f2f; /* Change la couleur du texte */
    margin-left: 10%; /* Ajustez la position par rapport à la gauche */
}