.sidebar {
  background-color: #f0f0f0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding-top: 20px;
}
.badge {
  border-radius: 0;
  font-size: 12px;
  line-height: 1;
  padding: .375rem .5625rem;
  font-weight: normal;
}
/* Liens dans le sidebar */
.sidebar a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
/* Style pour le lien "Se Déconnecter" */
.sidebar a.logout {
  color: red;
}
/* Style pour le lien actif */
.sidebar a.active {
  background-color: #92C0FA;
  color: white;
  border-radius: 6%;
}
/* Contenu */
.content {
  margin-left: 250px;
  padding: 20px;
}
/* Image dans le sidebar */
.sidebar img {
  max-width: 100%;
  height: auto;
}
.thumbnail {
  margin-right: 60px;
  position: relative;
}
.thumbnail img {
  max-width: 100%;
  height: auto;
}
.thumbnail .description {
  padding: 10px;
  background-color: #f0f0f0;
}

.thumbnail .title {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 0%;
padding: 5px;
font-size : 24px;
color: #f0f0f0;
}
.thumbnail .category {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 9%;
padding: 5px;
font-size : 16px;
color: #f0f0f0;
}
.thumbnail .duree {
position: absolute;
bottom: 0;
left: 0;
right: 0;
top: 16%;
padding: 5px;
font-size : 12px;
color: #f0f0f0;
}
.image{
display: flex;
justify-content: flex-end;
}
.image2{
margin: 5px;
}
