/* App.css */

.login-page {
    display: flex;
    height: 100vh;
  }
  
  .login-form {
    flex: 1;
    padding: 20px;
    background-color: #ffffff; /* Couleur de fond de la partie du formulaire */
  }
  
  .login-bg {
    flex: 1;
    background-color: #f0f0f0; /* Couleur de fond grise */
  }
  